APP_PORT=8000
FRONTEND_PORT=5173
FRONTEND_API_BASE_URL=http://localhost:8000/api/v1
FRONTEND_USE_POLLING=true
FRONTEND_POLL_INTERVAL=500
NODE_IMAGE=node:22.23.2-alpine3.23
NGINX_IMAGE=nginx:1.31.4-alpine
SWAGGER_PORT=8081
SWAGGER_UI_IMAGE=swaggerapi/swagger-ui:v5.32.14

POSTGRES_IMAGE=postgres:17-alpine

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_FORWARD_PORT=5432
DB_DATABASE=product_management
DB_USERNAME=product_user
DB_PASSWORD=product_password

TEST_DB_CONNECTION=pgsql
TEST_DB_HOST=postgres-test
TEST_DB_PORT=5432
TEST_DB_DATABASE=product_management_test
TEST_DB_USERNAME=product_test_user
TEST_DB_PASSWORD=product_test_password
