APP_PORT=8000

POSTGRES_IMAGE=postgres:17-alpine

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_FORWARD_PORT=5432
DB_DATABASE=product_management
DB_USERNAME=product_user
DB_PASSWORD=product_password

TEST_DB_CONNECTION=pgsql
TEST_DB_HOST=postgres-test
TEST_DB_PORT=5432
TEST_DB_DATABASE=product_management_test
TEST_DB_USERNAME=product_test_user
TEST_DB_PASSWORD=product_test_password
